<div class="row section-gap">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Estado de Publicaciones</h5>
                <div class="chart-container">
                    <canvas id="publicacionesChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Interesados por Mes</h5>
                <div class="chart-container">
                    <canvas id="interesadosChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div> 